*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Open Sans', sans-serif;
}

.clearfix::after{
  content: "";
  display: table;
  clear: both;
}

.content{
  width: 80vw;
  max-width: 1200px;
  margin: 0 auto;
}

.container_fullwidth.one{
  background-color: #0d325a;
  height: 500px;
}

.one .content{
  height: 500px;
}

.upper{
  width: 100%;
  height: 100px;
  padding-top: 20px;
}

#logo{
  width: 150px;
  position: relative;
  bottom: 50px;
  left: 0px;
  transform: translate(0,50%);
  display: inline;
}

#menu{
  display: inline;
  position: relative;
  bottom: 50px;
  left: 50px;
  transform: translate(0,50%);
}

#menu li{
  list-style: none;
  display: inline-block;
}

#menu li a{
  color: white;
  text-decoration: none;
  padding: 14px 5px;
  font-weight: bolder;
  font-size: 15px;
}

#buttons{
  display: inline;
  position: relative;
  bottom: 50px;
  left: 140px;
  transform: translate(0,50%);
  padding: 0;
}

#buttons a{
  margin-right: 20px;
  text-decoration: none;
  color: #DDDD;
  font-weight: bolder;
}

button{
  background-color: #7fb802;
  border: 0;
  padding: 8px;
  border-radius: 3%;
  font-weight: 700;
  color: white;
}

.left{
  width: 50%;
  height: 400px;
  padding: 10px;
}

.bottom .left p{
  font-size: 38px;
  color: white;
  font-weight: 700;
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -90%);
  display: block;
  margin-bottom: 150px;
}

.container_fullwidth.two{
  background-color: #DDDDDD90;
}

.two .content{
  text-align: center;
  height: 120px;
}

.two .content .testo{
  font-weight: lighter;
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.three .content .one{
  width: 33.3333%;
  height: 500px;
  float: left;
}

.three .content .two{
  width: 33.3333%;
  height: 500px;
  float: left;
}

.three .content .three{
  width: 33.3333%;
  height: 500px;
  float: left;
}

.first, .second{
  height: 50%;
}

.second{
  text-align: center;
}

.second h3{
  color: #82b802;
}

hr{
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: auto;
  margin-right: auto;
  width: 30px;
}

.fas{
  font-size: 150px;
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#fixed_button{
position: fixed;
}
