*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.clearfix::after{
  content: "";
  display: table;
  clear: both;
}

.content{
  width: 90vw;
  max-width: 1200px;
  margin: 0 auto;
  border: 1px solid black;
}

.container_fullwidth.one{
  background-color: #0d325a;
}

.one .content{
  height: 500px;
}

.upper{
  width: 100%;
  height: 100px;
  padding: 0;
}

#logo{
  width: 150px;
  position: relative;
  bottom: 50px;
  left: 0px;
  transform: translate(0,50%);
  display: inline;
}

#menu{
  display: inline;
  position: relative;
  bottom: 50px;
  left: 50px;
  transform: translate(0,50%);
}

#menu li{
  list-style: none;
  display: inline-block;
}

#menu li a{
  color: white;
  text-decoration: none;
  padding: 14px 10px;
}

#buttons{
  display: inline;
  position: relative;
  bottom: 50px;
  left: 300px;
  transform: translate(0,50%);
  padding: 0;
}

.left{
  width: 50%;
  height: 400px;
  padding: 0;
}

.bottom .left p{
  font-size: 50px;
  color: white;
  font-weight: 400;
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -90%);
  display: block;
  margin-bottom: 150px;
}

.container_fullwidth.two{
  background-color: #DDDDDD;
}

.two .content{
  text-align: center;
  height: 120px;
}

.two .content .testo{
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.three .content .one{
  width: 33.3333%;
  height: 500px;
  float: left;
}

.three .content .two{
  width: 33.3333%;
  height: 500px;
  float: left;
}

.three .content .three{
  width: 33.3333%;
  height: 500px;
  float: left;
}

.first, .second{
  height: 50%;
}

.second{
  text-align: center;
}

.fas{
  font-size: 150px;
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
